<img src="{{ MEDIA_URL }}{{album.album_icon}}"/>

<h1>{{album.title}}</h1>
<h3><em>by {{album.artist_id.name}}</em></h3>
{% if error_message %}
<h1><strong>{{error_message}}</strong></h1>
{% endif %}
<h4>Songlist: </h4>
<ul>
{% for song in album.song_set.all %}
    <li>{{ song.title }}   type: {{song.file_type}}</li>
    {% endfor %}
</ul>
<form action="{% url 'music:favorite_song' album.id %}" method="POST">
    {% csrf_token %}
    {% for song in album.song_set.all %}
        <input type="radio" id="song{{forloop.counter}}" name="song" value="{{song.id}}">
        <label for="song{{forloop.counter}}">{{song.title}}</label>
    {% if song.is_favorite %} <img style="height: 20px; width: 20px" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRO3qaVhaDlNE-TII9uqbzJ0E3ypgz0Xb_fvvTaTQACuM99g0931-e42rg"/><br />
    {% endif %}
    {% endfor %}
    <input type="submit" value="Favorite">
</form>